// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.success {
    background: rgb(128, 241, 128);
}

/* .error {
    background: rgb(241, 145, 145);
} */

.messages-wrapper {
    height: 3rem;
}

.message {
    height: 2rem;
    color: red;
}

